.main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #bdc2f2;
    background: linear-gradient(164deg, rgba(189, 194, 242, 1) 6%, rgba(104, 128, 217, 1) 22%, rgba(42, 58, 176, 1) 38%, rgba(0, 46, 138, 1) 57%, rgba(18, 35, 107, 1) 81%, rgba(0, 1, 28, 1) 100%);
}


.header {
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0.2, 0.2);
    backdrop-filter: blur(10px);
    height: 50px;
    color: black;
}


.topText {
    margin: 0;
    font-weight: 500;
    letter-spacing: 10px;
    padding: 5px, 10px;
}


.topText:hover {
    cursor: default;
}

.setButton {
    background: transparent;
    border: none;
}

.setButton:hover {
    transform: scale(1.2);
    transition: 0.3s ease;

}

.horDropdown {
    display: flex;
}

.voiceOnBtn {
    background: #bdc2f2;
    border: none;
    border-radius: 10px 0 0 10px;
}

.selectVoice {
    background: #bdc2f2;
    border: none;
    border-radius: 0 10px 10px 0;
}

.horDropdown__container {
    max-width: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    visibility: none;
    transition: 0.3s ease-in-out;
}

.horDropdown__container_active {
    max-width: 100%;
    visibility: visible;
}

.voiceOnBtn:hover {
    background-color: #504dfa;
    transition: 0.2s ease;
}
.selectVoice:hover {
    background-color: #504dfa;
    transition: 0.2s ease;

}